    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                <div class="logo-img">
                    <img src="/assets/img/logo-toolia.png"/>
                </div>
            </a>
        </div>
        <ul class="nav">
                
                    <li>
                        <a href="/#">
                            <i class="pe-7s-home"></i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li>
                        <a href="/#">
                            <i class="pe-7s-graph2"></i>
                            <p>Mis Audiencias</p>
                        </a>
                    </li>
                    <li>
                        <a href="/#">
                            <i class="pe-7s-graph"></i>
                            <p>Análisis Territorial</p>
                        </a>
                    </li>
                    <li>
                        <a href="/#">
                            <i class="pe-7s-way"></i>
                            <p>Análisis de Competencia</p>
                        </a>
                    </li>
                    <li>
                        <a href="/#">
                            <i class="pe-7s-user"></i>
                            <p>Gestión de Usuarios</p>
                        </a>
                    </li>
           
        </ul>
    </div>
    <router-outlet></router-outlet>

<!--
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                  Toolia LRM
                </a>
            </div>

            <ul class="nav">
                 <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/uno">Inicio <span class="sr-only">(current)</span></a>
            </li>
     
            </ul>
    	</div> -->
