<div class="toolia-simple">
		<div class="logmod">
			<div class="logo-holder"><img src="../assets/img/logo-toolia.png" alt="Toolia LRM"/>
			</div>
			<div class="logmod__wrapper">
				<div class="logmod__container">
					<ul class="logmod__tabs">
						<li data-tabtar="lgm-1">
							<a href="#">RECORDAR SU CONTRASEÑA</a>
						</li>
					</ul>
					<div class="logmod__tab-wrapper">
						<div class="logmod__tab lgm-1">
							<div class="logmod__heading">
								<span class="logmod__heading-subtitle">Ingrese aquí su correo electrónico para <strong>restaurar su contraseña</strong></span>
							</div>
							<div class="logmod__form">
								<form accept-charset="utf-8" action="#" class="simform">
									<div class="sminputs">
										<div class="input full">
											<label class="string optional" for="user-name">Email:</label>
											<input class="string optional" maxlength="255" id="user-email" placeholder="Escriba aquí su email" type="email" size="50" />
										</div>
									</div>
									<div class="simform__actions">
										<input class="sumbit" name="commit" type="submit" value="Enviar Contraseña" />
									</div>
								</form>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </div>